* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Aegean";
    src: url("/font/Aegean.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Aegean2";
    src: url("/font/AegeanHinted.ttf") format("truetype");
    font-style: normal;
}

:root {
    --fuenteSeccion1: "Outfit", serif;
    --blanco: rgba(245, 245, 245)
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* SECCION 01 */
/* ----------------------------------- */
#seccion1 {
    padding: 20px;
    height: 100vh;
    padding-top: 10%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(193, 248, 255), rgb(255, 255, 255));
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: var(--fuenteSeccion1);

}

#seccion1 img {
    width: max(5em,10vw);
    margin-top: -80px;
    opacity: 0.8;
    transition: transform 0.5s ease;
}
#seccion1 img:hover{
    transform: scale(1.2);
}

#seccion1 p {
    margin-top: 20px;
    font-size: max(1.8em,7vw);
    color: rgba(74, 94, 110, 0.945);
    font-family: "Bungee", sans-serif;
}

#seccion1 h2 {
    font-size: max(1.5em,4vw);
    margin-top: 15px;
    color: rgba(64, 90, 110, 0.925);
    font-family: var(--fuenteSeccion1);
}

#seccion1 h4 {
    margin: 15px;
    font-size: max(1.7em,2.5vw)

}

#time {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(255, 32, 32);
    border-radius: 15px;
    box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.301);
}

#time::before {
    content: "";
    width: 0;
    height: 0;
}

#time h4 {
    color: white;
    opacity: 0.95;
    font-size: max(1.7em,2.5vw);
}

h4 {
    display: flex;
    flex-direction: column;

}

#container-img-noel-reno img {
    display: none;
}

/*--------------- SECCION 02------------------- */

#seccion2 {
    position: relative;
    font-family: var(--fuenteSeccion1);
    font-weight: 250;
    width: 100%;
    min-width: 350px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;

}
#content-seccion02{
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#arbolnavidadimg {
    max-width: 1000px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

#seccion2 h2 {
    margin-top: 15px;

}
#sub-seccion2{
    font-size: max(2em, 4vw);
}
#parrafo-seccion02{
    font-size: max(1.5em, 1.5vw);
}
#sub-seccion2::after {
    margin-top: 5px;
    content: "";
    width: 100px;
    height: 2px;
    background-color: brown;
    display: block;
}

#seccion2 p {
    margin-top: 10px;
    color: rgba(38, 96, 114, 0.993);
    font-weight: 300;
}

#tips-arbol-container {
    margin-top: 25px;
    
}

.class-tips {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.class-tips div {
    margin-left: 20px;
}

.class-tips h4 {
    font-size: max(1.4em,2vw);
    margin-top: 10px;
    font-weight: 500;
}

.class-tips p {
    font-size: max(1.3em,1.3vw);
}

.class-tips img {
    width: max(120px,9vw);
    padding: 10px;
    transition: transform 0.8s ease;
}

.class-tips img:hover {
    transform: scale(1.2);
}
/* MEDIA QUERY SECCION 02 */
@media (min-width: 700px){
    #title-content-seccion02{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    #content-seccion02{
        padding: 50px;
    }
    #tips-arbol-container{
        display: flex;
        width: 100%;
        gap: 20%;
    }

}
/* ----------------- FIN SECCION 02 ------------------*/


/* SECCION 03 */
#seccion3 {
    background-image: url(/SRC/IMAGE/SECCION03/gorros-navidad.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    padding: 40px;
}

#seccion3 h2 {
    width: auto;
    color: white;
    font-family: var(--fuenteSeccion1);
    z-index: 2;
    font-size: max(2em,4vw);
}

#seccion3 p {
    font-size: max(1.2em,1.5vw);
    font-family: var(--fuenteSeccion1);
    color: var(--blanco);
    text-align: center;
    z-index: 2;
}

#seccion3 button {
    /* width: max(10em,2vw);
    height: max(4em,1.5vw); */
    padding: 15px 20px;
    font-family: var(--fuenteSeccion1);
    font-size: 0.9em;
    border-radius: 15px;
    border: none;
    color: var(--blanco);
    background-color: rgb(71, 64, 64);
    cursor: pointer;
    z-index: 2;
    transition: color 0.2s ease;
    font-size: max(1.3em,1.5vw);
}

#seccion3 button:hover {
    color: rgb(71, 64, 64);
    background-color: white;

}

#seccion3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 25, 25, 0.589);
}