* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuenteSeccion1: "Outfit", serif;
    --blanco: rgba(245, 245, 245);
    --azul: #587e9c;
}

#seccion01 {
    background: url(/SRC/IMAGE/HISTORIA/SECCION01H/animalitos-mobil.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1150px;
    padding: 20px;


}

#seccion01 h1 {
    text-align: center;
    padding-top: 100px;
    font-family: "Lobster";
    font-size: 3em;
    color: var(--azul);
    font-weight: 100;

}

#seccion01 p {
    max-width: 600px;
    font-size: 20px;
    margin-top: 50px;
    font-family: var(--fuenteSeccion1);
    color: var(--azul);
    padding: 0px 25px 25px 25px;
    font-weight: 400;
    opacity: 0.8;
    text-align: center;
}





/* MEDIA REQUERY SECCION01 */
@media (min-width:800px) {
    #seccion01 {
        background: url(/SRC/IMAGE/HISTORIA/SECCION01H/family-bg-desktop.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #seccion01 h1 {
        font-size: 80px;
    }

    #seccion01 p {
        font-size: 25px;
    }
}

/* FIN DE SECCION 01 */


/* ----------------------- INICIO  DE SECCION 02 ------------------------------ */

#seccion02 {
    color: var(--azul);
    position: relative;
    width: 100%;
    font-family: var(--fuenteSeccion1);
    padding: 20px;

}

#seccion02 img {
    max-width: 800px;
    height: 250px;
}

#text-seccion02 h2 {
    text-align: center;
    margin-top: 50px;
    font-size: max(1.2em, 50px)

}
#p-1-sec2{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}
#p-2-sec2{
    text-align: center;
    opacity: 0.9;
    font-weight: 200;
}


#seccion02 img {
    margin-top: 50px;
    border-radius: 50px;
    width: 100%;
    height: auto;
}

#gif {
    position: absolute;
    width: 300px;
    left: -20%;
    animation: correr 20s linear infinite;
}

@keyframes correr {
    0% {
        left: -50%
    }

    100% {
        left: 100%;
    }
}

/* MEDIA QUERY SECCION02 */

@media(min-width:1000px) {
    #seccion02 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 60px 0px 0px;
    }

    #text-seccion02 {
        padding: 100px;
        display: flex;
        flex-direction: column;
        width: 50;
    }
    #p-1-sec2 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    #p-2-sec2 {
        margin-top: 15px;
        color: var(--azul);
        font-weight: 200;
        font-size: 25px;
        text-align: center;
    }
    #seccion02 img {
        width: 50%;
    }
}
/* -----------------------FIN  SECCION02------------------------ */

/*----------------  INICIO SECCION 03 --------------------------*/
#seccion03 {
    width: 100%;
    padding: 25px;
    margin-top: 50px;

}

#container-seccion03 {
    background-color: #d0e4fd93;
    padding: 25px;
    text-align: center;
    border-radius: 50px;
}

#container-seccion03 h2 {
    font-family: "Lobster";
    color: var(--azul);
    font-weight: 200;
    margin-top: 40px;
    font-size: 2.5em;
}

#container-seccion03 h3 {
    font-weight: 400;
    margin-top: 20px;
    font-weight: 500;
    font-size: 2.2em;
}

#container-seccion03 p,
h3 {
    font-family: var(--fuenteSeccion1);
    color: var(--azul);
    margin-top: 25px;
    padding: 0px 25px 0px 25px;
}

.cart {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-top: 45px;
    text-align: start;

}

.cart img {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
}

.cart h3 {
    font-size: 1.5em;
}

.cart p {
    font-size: 1.2em;
    font-weight: 400;
}

#container-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(61, 187, 45);
    transition: transform 0.3s ease;
}

.cart button:hover {
    transform: scale(0.9);

}

.cart a {
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    font-family: var(--fuenteSeccion1);
}