*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map{
    width: 100%;
    height: 100vh;
    position: relative;
}
#container-buttones{
    width: 95px;
    height: 410px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px;


}
#container-buttones span{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#container-buttones img:first-child{
 width: 50px;
 height: 50px;

}
#container-buttones img{
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* PAISES STYLES CARD  */

.card{
    margin: auto;
    width: 340px;
    height: auto;
    padding: 25px;
    background-color: white;
    box-shadow: 8px 7px 2px rgba(65, 64, 64, 0.164);
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card h2{
    font-family: "Lobster", serif;
    color: rgba(46, 46, 46, 0.863);
}

.card p{
    margin-top: 10px;
    font-family: "Outfit", serif;
    font-size: 0.8em;
}

.img-pais{
    position: absolute;
    top: -40px;
    left: -40px;
    width: 350px;
    animation: mover 0.7s linear ;

}
@keyframes mover{
    0%{
        top:-100px
    }
    100%{
        top:-10px   
    }
}