/* NIEVE */
/* ------------------------------------------------ */

.nieve{
    position: absolute;
    width: 5px;
    height: 5px;
    z-index: 9;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.952);
    animation: caidaX 4s linear infinite, mover 4s ease infinite
}

@keyframes caidaX{
    0%{
        top:-30%
    }
    100%{
        top:100%
    }
}

/* --------------------------------------------------- */
/* //FIN DE ESTILO NIEVE */
